div{margin-left: 20px;}
body{background-color: blue;
    border-style:double;
    border-color: pink;
    border-width: 5px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;}
    .border{color: black ;
        background-color: aqua(197,190,190);}
        h1{color: brown;
            text-align: center;
            font-size: 40px;}